/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3 {
  font-weight: bolder !important;
  color: #367fbf;
  }


label{
  font-weight: 500 !important;
  color: #367fbf;
}

a {
  transition: color 0.3s;
  font-weight: bold;
  color: #6E7FA5 !important;
}

a:hover {
  color: #367fbf !important;
  cursor: pointer;
}

li {
  margin-left: 45px;
}

.btn-primary {
  color: azure;
  background-color: #1d2840 !important;
  border-color: #1d2840 !important;
  width: 200px;
}

.btn-primary:hover {
  background-color: #6E7FA5 !important;
  border-color: #6E7FA5 !important;
  cursor: pointer;
}
